
p {
    line-height: 1.25em;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    text-align: justify;
    color: #777777;
}

h1, h2, h3, h4, li{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    width:960px;
    margin: 0 auto;
}

.header {
    width: 100%;
    background: white;
    position: fixed;
    top: 0;
}

.name {
    float: left;
    width: 350px;
    margin-top: 5px;
    background-color: teal;
    text-align: center;
    color: #fff;
}

.heading {
    color: teal;
    border-bottom: #dddddd;
    border-style: none none solid none;
    border-width: 0px 0px 2px 0px;
}

a {
    text-decoration: none;
    color: #777777;
}

li {
    list-style: none;
    float: left;
    margin-left: 10px;
    padding-top: 20px;
}

.nav {
    float: right;
}

.section {
    margin-top: 100px;
    margin-left: 15px;
    width: 40%;
    float: left;
}

.photo {
    float: left;
    padding-right: 15px;
    padding-top: 20px;
}

.wrapper {
    padding: 20px;
    background: #666666;
}