html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: table;
}
p {
    line-height: 1.25em;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    text-align: justify;
    color: #777777;
}

h1, h2, h3, h4, li{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    width:960px;
    margin: 0 auto;
}

.header {
    width: 100%;
    background: white;
    position: fixed;
    top: 0;
    border-bottom: #dddddd;
    border-style: none none solid none;
    border-width: 0px 0px 2px 0px;
}

.name {
    float: left;
    width: 350px;
    margin-top: 5px;
    background-color: #4aaaa5;
    text-align: center;
    color: #fff;
}

.heading {
    color: #4aaaa5;
    border-bottom: #dddddd;
    border-style: none none solid none;
    border-width: 0px 0px 2px 0px;
}

.form {
    line-height: 1.75em;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    text-align: justify;
    color: #777777;
    margin: 20px 0px 0px 0px;
}

.bigtext {
    line-height: 1.25em;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
    color: #777777;
    height: 30px;
    text-indent: 15px;
}

#message-text {
    line-height: 1.25em;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
    color: #777777;
    text-indent: 15px;
}

.button {
    width: 125px;
    height: 40px;
    margin-top: 5px;
    background-color: #4aaaa5;
    text-align: center;
    color: #fff;
    border-style: none;
}

a {
    text-decoration: none;
    color: #777777;
}

li {
    list-style: none;
    float: left;
    margin-left: 10px;
    padding-top: 20px;
}

.nav {
    float: right;
}

.section {
    margin: 10% 17% 10% 17%;
    width: 64%;
    float: left;
    background: #fff;
    padding: 20px;
    border: #dddddd;
    border-style: solid;
    border-width: 1.5px;

}

.photo {
    float: left;
    padding-right: 15px;
    padding-top: 20px;
}

.wrapper {
    padding: 0px;
    background: #fff;
}

footer {
    display: table-row;
    height: 1px;
    background: #666666 !important;
    
}

footer p{
    text-align: center;
    color: #fff;
    letter-spacing: 1px !important;
    font-size: 0.5em;
    line-height: 1em;
    margin: 0px;
    padding: 25px 0px 5px 0px;
    border-top: #4aaaa5;
    border-style: solid none none none;
    border-width: 8px 0px 0px 0px;
}

.images {
    float: left;
    position: relative;
    margin: 0 auto;
    padding: 50px;
}

.images2 {
    float: right;
    position: relative;
    margin: 0 auto;
    padding: 50px;
}

.images2 .text-block {
    position: absolute;
    bottom: 70px;
    background-color: #4aaaa5;
    color: #fff;
    width: 71.5%;
    padding: 0px;
    text-align: center;

}

.images .text-block {
    position: absolute;
    bottom: 70px;
    background-color: #4aaaa5;
    color: #fff;
    width: 71.5%;
    padding: 0px;
    text-align: center;

}